Lerneinheit R - Arbeiten mit CSV-Dateien

## 1 Vorwort 

Die folgende Lerneinheit soll Ihnen den Ersteinstieg in die Computersprache **R** erleichtern.\
Als Fallbeispiel wird eine CSV-Datei mit Rohdaten zum *Personalstand an Hochschulen* eingelesen und ausgewertet.\
Um die CSV-Datei herunterzuladen, klicken Sie bitte [hier](https://www-genesis.destatis.de/genesis//online?operation=table&code=21341-0001&bypass=true&levelindex=0&levelid=1706718181851) (Quelle: Statistisches Bundesamt 2022).

### Installieren von R und R-Studio 

Um der Übungseinheit effektiv folgen zu können, installieren Sie bitte vorab die Computersprache **R**. Zudem benötigen Sie eine geeignete Entwicklungsumgebung. Hierfür bietet sich **R-Studio** an.\
Zur Installation der Computersprache **R** und **R-Studio** geht es [hier](https://posit.co/download/rstudio-desktop/).

***
## 2 Erste Schritte in R-Studio 

**Neues R Skript anlegen**
1. Öffnen Sie R-Studio.
2. Ein neues Skript, in dem Sie Befehle eingeben können, öffnen Sie unter *Files*:

->Bild einfügen


**Interface von R-Studio:**

->Bild einfügen

**R Skript:** \
Im R Skript werden die Befehle eingegeben, welche **R** ausführen soll. Um einen eingegebenen Befehl auszuführen, drücken Sie entweder `Strg + Enter` oder Sie drücken mit der Maus auf den *Run-Button* in der oberen rechten Ecke des Fensters. Ein Befehl ist z.B. `1+1`. Das Skript und dessen Befehle können abgespeichert werden und zu einem späteren Zeitpunkt erneut geöffnet werden.

**Console:** \
In der Console werden die Ergebnisse der Befehle angezeigt. Wenn Sie im Skript `1+1` eingegeben und ausgeführt haben, erscheint in der Console das Ergebnis `2`. Sie können auch Befehle direkt in der Console ausführen, diese werden dann jedoch nicht gespeichert.

**Environment:**
In der Environment werden geladene Dateien und Datensätze angezeigt. Zudem sind hier selbst erstellte Listen etc. vorzufinden.

**Files, Plots, Packages, etc.:**
In diesem Fenster werden verschiedene Funktionen angeboten. Über die Fensterkachel **Files** können Sie Dateien anzeigen lassen und Importieren *(Dazu mehr im Abschnitt **Einlesen von CSV Dateien**)*.
Die Fensterkachel **PLOTS** zeigt Ihnen erstellte Grafiken an.
Die Fensterkachel **Packages** zeigt Ihnen alle installierten R-Packages auf Ihrem Rechner an. Ein Package ist eine Ansammlung von **R**-Befehlen. Manche Befehle können Sie nur ausführen, wenn Sie das dazugehörige Package durch den Befehl `install.packages("*Packagename*")` installiert und durch den Befehlt `library(*Packagename*)`geladen haben *(Dazu mehr im folgenden Abschnitt **Einleitung**)*.

***
## 3 Einleitung 

> Für Computersprachen gilt allgemein: Es gibt nie nur einen Weg zum Ziel. Unterschiedliche Befehle können Sie zum gleichen Ziel bringen. Dieses gilt auch für die folgenden angeführten Befehle!

Damit Sie die in diesem Skript angeführten Befehle verwenden können, müssen Sie das folgende Package installieren und laden:

In [11]:
install.packages("tidyverse")
#install.packages("tidyverse", repos='http://cran.us.r-project.org')

Warning message:
"dependencies 'MASS', 'Matrix', 'evaluate', 'lattice' are not available"also installing the dependencies 'fastmap', 'colorspace', 'sys', 'bit', 'ps', 'sass', 'cachem', 'nlme', 'farver', 'munsell', 'rappdirs', 'askpass', 'bit64', 'processx', 'highr', 'xfun', 'yaml', 'bslib', 'fontawesome', 'htmltools', 'tinytex', 'backports', 'glue', 'lifecycle', 'memoise', 'blob', 'tidyselect', 'vctrs', 'data.table', 'gtable', 'isoband', 'mgcv', 'scales', 'gargle', 'cellranger', 'curl', 'ids', 'rematch2', 'mime', 'openssl', 'timechange', 'fansi', 'utf8', 'systemfonts', 'textshaping', 'vroom', 'tzdb', 'progress', 'callr', 'fs', 'knitr', 'rmarkdown', 'selectr', 'stringi', 'broom', 'conflicted', 'cli', 'dbplyr', 'dplyr', 'dtplyr', 'forcats', 'ggplot2', 'googledrive', 'googlesheets4', 'haven', 'hms', 'httr', 'jsonlite', 'lubridate', 'magrittr', 'modelr', 'pillar', 'purrr', 'ragg', 'readr', 'readxl', 'reprex', 'rlang', 'rvest', 'stringr', 'tibble', 'tidyr', 'xml2'

Warning message:
"unable to access index for repository http://cran.us.r-project.org/bin/windows/contrib/3.6:
  无法打开URL'http://cran.us.r-project.org/bin/windows/contrib/3.6/PACKAGES'"Packages which are only available in source form, and may need
  compilation of C/C++/Fortran: 'fastmap' 'colorspace' 'sys' 'bit' 'ps'
  'sass' 'cachem' 'nlme' 'farver' 'rappdirs' 'askpass' 'bit64'
  'processx' 'xfun' 'yaml' 'htmltools' 'backports' 'glue' 'tidyselect'
  'vctrs' 'data.table' 'isoband' 'mgcv' 'scales' 'curl' 'mime'
  'openssl' 'timechange' 'fansi' 'utf8' 'systemfonts' 'textshaping'
  'vroom' 'tzdb' 'fs' 'stringi' 'cli' 'dplyr' 'haven' 'jsonlite'
  'lubridate' 'magrittr' 'purrr' 'ragg' 'readr' 'readxl' 'rlang'
  'tibble' 'tidyr' 'xml2'

  These will not be installed

installing the source packages 'munsell', 'highr', 'bslib', 'fontawesome', 'tinytex', 'lifecycle', 'memoise', 'blob', 'gtable', 'gargle', 'cellranger', 'ids', 'rematch2', 'progress', 'callr', 'knitr', 'rmarkdown', 'selectr', 'broom', 'conflicted', 'dbplyr', 'dtplyr', 'forcats', 'ggplot2', 'googledrive', 'googlesheets4', 'hms', 'httr', 'modelr', 'pillar', 'reprex', 'rvest', 'stringr', 'tidyverse'

Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'munsell' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'highr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'fontawesome' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'tinytex' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'lifecycle' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'memoise' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'blob' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'cellranger' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'ids' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'rematch2' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'callr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'httr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'bslib' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'gtable' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'gargle' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'knitr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'conflicted' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'dtplyr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'forcats' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'hms' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'pillar' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'stringr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'progress' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'rmarkdown' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'selectr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'broom' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'dbplyr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'ggplot2' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'googledrive' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'googlesheets4' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'modelr' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'reprex' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'rvest' had non-zero exit status"Warning message in install.packages("tidyverse", repos = "http://cran.us.r-project.org"):
"installation of package 'tidyverse' had non-zero exit status"

In [1]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
√ ggplot2 3.1.1       √ purrr   0.3.2
√ tibble  2.1.1       √ dplyr   0.8.0.1
√ tidyr   0.8.3       √ stringr 1.4.0
√ readr   1.3.1       √ forcats 0.4.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
#pak::pak("cderv/pandoc")

ERROR: Error: 'pak' is not an exported object from 'namespace:pak'

### Einlesen von CSV Dateien 

Hierfür gibt es zwei Befehle: `read.csv()` oder `read.csv2()`

-   `read.csv()` wird verwendet, wenn die CSV Dateiwerte durch Kommata separiert werden.
    
-   `read.csv2()` wird verwendet, wenn die CSV Dateiwerte durch Semicola separiert werden.

**Fallbeispiel:**

In [2]:
#Daten einlesen
data_csv <- read.csv2("21341-0001_$F.csv",header = FALSE)

In [3]:
head(data_csv)

  V1                                                        V2 V3
1 GENESIS-Tabelle: 21341-0001
2 Personal an Hochschulen: Deutschland, Jahre,
3 Personalgruppen nach Besch鋐tigungsverh鋖tnis, Geschlecht
4 Statistik des Hochschulpersonals
5 Deutschland
6 Personal an Hochschulen (Anzahl)

**Erklärung des Codes:**

-   `#Daten einlesen`:\
    Durch das setzen eines `#` wird der folgende Inhalt in der Zeile nicht als Code interpretiert und somit auch nicht ausgeführt. Wenn Sie Textbausteine, Kommentare, Überschriften etc. in Ihrem **R-Skript** integrieren möchten, was für eine bessere Nachvollziehbarkeit Ihres Skriptes zu empfehlen ist, benutzen Sie immer das `#` -Symbol, um dies kenntlich zu machen. Ansonsten wird **R** einen Error ausgeben.

-   `read.csv2()`:\
    Die verwendete Datei ist durch Semicola separiert. Deswegen wird hier `read.csv2()` verwendet.\
    \- *Woraus ist dies ersichtlich? Durch Öffnen der Datei in der Console Ihres Rechners können Sie die verwendeten Trennzeichen erkennen.*
        
-   `"21341-0001_$F.csv"`:\
    Hier steht der Name der CSV-Datei, die geladen werden soll.\
    \- *Bei Verwendung von R-Studio: Sie sollten unter *Files* den Ordner aufrufen, in dem Ihre Dateien gespeichert sind. Nach klicken auf die gewünschte Datei, können Sie die Option **Import Dataset...** nutzen.*

-   `header = FALSE`:\
    Die CSV Datei hat keine Überschriften, daher muss hier der Zusatz hinzugefügt werden.
    
-   `data_csv <-`:\
    Damit Sie einen Befehl nicht immer wieder ausführen müssen, können Sie dem Befehl mittels eines Pfeils `<-` einem Namen zuordnen.\
    \- *Hier: "data_csv". Nun können Sie in dem folgenden Skript nur noch den gesetzten Namen verwenden.*
        

***Alternative:*** *Falls die Datei nicht unter "Files" auffindbar ist, kann auch der Befehl `choose.files()` genutzt werden:*

In [4]:
# data_csv <- read.csv2(choose.files(), header = FALSE) # not work in Binder



> **Tipp:** Wenn Sie die Bedeutung und Syntax eines Befehls besser verstehen wollen, empfielt es sich, diesen Befehl im Handbuch nachzuschlagen. Hierzu setzen Sie ein `?` vor den Befehl Ihres Interesses.

*Beispiel:*

In [5]:
?read.csv2

***

## 4 Daten sichten 

Es ist immer ratsam, einen ersten Blick auf die Daten zu werfen, um deren Struktur zu verstehen.

In [6]:
show(data_csv_3)

ERROR: Error in show(data_csv_3): 找不到对象'data_csv_3'

*Alternative:*

In [ ]:
view(data_csv)
#oder
print(data_csv)

### Dateiinhalt interpretieren 

Die Datei hat drei Spalten (V1, V2, V3):

-   **V1:** In den Zeilen 1-6 und 87-88 stehen die Metadaten der Datei. Hier finden Sie Infos zum Herausgeber, Inhalt der Daten, etc..\
    In den Zeilen 8-85 befinden sich Bezeichnung zum Angestelltenverhältnis des Hochschulpersonals (Dozent, Gastprofessoren, etc.).

-   **V2:** Diese Spalte unterteilt die Beschäftigten nach Geschlecht (männlich, weiblich & Insgesamt).

-   **V3:** In den Zeilen 8-85 sind die jeweiligen absoluten Personalzahlen enthalten. In der Zeile 7 ist die Spaltenüberschrift "2020" gegeben. Diese bezieht sich auf das Erhebungsjahr der Daten.

### Anmerkungen zu der Ausgangsdatei 

Es fallen hier direkt mehrere Punkte auf, welche die CSV-Datei schlechter maschinenlesbar machen:

1.  Der Titel des Datensatzes ist nicht prägnant und verständlich.

2.  Metadaten (Übergeordnete Informationen über die vorliegenden Daten) sollten nicht in der Tabelle selbst auftauchen sondern separiert in dem dafür vorgesehenen Metadatenbereich abgespeichert werden. Die CSV-Datei sollte neben der Kopfzeile und der Inhaltsdaten keine weiteren Informationen enthalten.

3.  Spalten sollten immer Überschriften haben. Dies fehlt hier für **V1** und **V2**.

4.  Auf Umlaute und Sonderzeichen ist zu verzichten. Dies führt zu einer fehlerhaften Anzeige. In **V1 Zeile 87** wird das Sonderzeichen "Copyright" nicht logisch erkannt und als "\xa9." angezeigt. In den Spalten **V1** und **V2** werden Wörter mit Umlauten wie *"männlich", ""für", "Lehrkräfte", etc.* alle fehlerhaft angezeigt. Um größtmögliche Kompatibilität zu anderen Programmen zu gewährleisten, sollten Dateien immer der UTF-8-Zeichenkodierung folgen.
Andernfalls können Probleme bei der maschinellen Verarbeitung entstehen, wie Sie in der Tabelle erkennen können.

Wenn Sie mehr zum Thema *"hochwertiger Datenaufbau"* wissen möchten, werfen Sie gerne einen Blick in den [NQDM-Leitfaden](https://nqdm-projekt.de/de/downloads/leitfaden).

------------------------------------------------------------------------

## 5 Daten aufbereiten\
Im folgenden Abschnitt werden die zuletzt erwähnten Qualitätsmängel der Datendarstellung behoben und die Daten zur Auswertung vorbereitet.

**Problem der Zeichenkodierung**\
Im Default interpretiert **R** Dokumente als UTF-8 (Unicode) kodiert. Dies ist die Ausgangseinstellung und **R-Skripte** werden mit dieser Zeichenkodierung ebenfalls abgespeichert, solange Sie dies nicht manuell ändern. Beim Laden von nicht UTF-8 kodierten Dateien kann es jedoch zu Anzeigeproblemen kommen, wie in der Tabelle feststellbar. Siehe beispielsweise Zelle V2 Zeile 8:\

In [ ]:
data_csv[8,2]

Solch eine Anzeige spricht dafür, dass ein ISO 8859-1 ("Latin-1") kodiertes Dokument inklusive Umlauten als UTF-8 interpretiert wird. Damit Ihre Datei kompatibel und gut maschinell lesbar für andere Programme bleibt, sollten Sie stets eine UFT-8 Kodierung beibehalten. Eine bessere Anzeige können Sie trotzdem mit folgenden Schritten erreichen.\
\
\
**Lösungsansätze**\
Sie können die Datei als ISO 8859-1 ("Latin-1") kodiert laden. Hierzu müssen Sie zum bekannten Einlesebefehl nur den Zusatz `encoding = "latin1"` hinzufügen, damit **R** weiß, welche Zeichenkodierung im Dokument verwendet wurde:

In [ ]:
data_csv_clean <- read.csv2("21341-0001_$F.csv", header = FALSE, encoding = "latin1")

Wenn Sie schnell überprüfen möchten, ob die Umlaute nun korrekt angezeigt werden, können Sie den Befehl `head()` benutzen. Hierdurch werden nur die ersten Zeilen Ihrer Tabelle angezeigt.

In [ ]:
head(data_csv_clean)

An dem Wort "Beschäftigungsverältnis" in Zeile 3 sehen Sie, dass die CSV-Datei nun korrekt gelesen wird. Wie bereits erwähnt sollte Sie auf Umlaute jedoch in Gänze verzichten.\
\

In [ ]:
#install.packages("pandoc")

In [7]:
library(pandoc)

ERROR: Error in library(pandoc): there is no package called 'pandoc'

*Alternative:*\
Um Probleme mit der Zeichenkodierung zu vermeiden, speichern Sie am besten schon im Vorhinein Ihre Datei mit UTF-8 Kodierung ab. Dies können Sie meist direkt unter den `Speichern unter...` Dateiformaten auswählen:

![Abspeichern mit UTF-8 Kodierung](C:/Users/ant87282/Pictures/Camera Roll/Screenshot_abspeichern_UTF8_ 2024-04-15 172941.png){#id .class width=600 height=px}\
\

### Umlaute entfernen\

Mittels des Befehls `str_replace_all` können Sie einzelne Buchstaben in Ihrer Tabelle ersetzen. Dies ist jedoch nur separat für einzelne Spalten möglich.

In [ ]:
data_csv_clean$V1 <- str_replace_all(data_csv_clean$V1, c("ä" = "ae", "ö" = "oe", "ü" ="ue", "ß" ="ss"))
data_csv_clean$V2 <- str_replace_all(data_csv_clean$V2, c("ä" = "ae", "ö" = "oe", "ü" ="ue", "ß" ="ss"))

**Erklärung des Codes:**\

- `data_csv_utf8$V1`:\
Durch das Anhängen eines `$`- Zeichens an den Namen der Tabelle signalisieren Sie **R**, dass Sie sich nur auf einen bestimmte Variable - hier die Spalte **V1** - beziehen möchten.\

- `str_replace_all`:\
Suchen und ersetzen von einzelnen Zeichen(-ketten) in ihrer Tabelle.\

- `c("ä" = "ae", "ö" = "oe",...)`:\
Der Befehl `c` erstellt einen Vektor. Ein Vektor kombiniert von Ihnen festgelegte Zahlen- oder Zeichenketten (letzteres wird auch **"String"** genannt). Ein String ist z.B. c("Apfel", "Birne", "Kiwi").\
Im hier verwendeten Zusammenhang mit `str_replace_all()` wird **R** befohlen, alle "ä" durch "ae" zu ersetzen und alle "ö" durch "oe" usw..\
\
\

**Ergebnis ansehen**:\
Über die `show()` -Funktion könnten Sie jetzt die Tabelle erneut sichten und überprüfen, ob die Zeichenumkodierung funktioniert hat.
Wenn Ihre Tabelle jedoch sehr lang ist (so wie in diesem Fall) und Sie nur einen Teil Ihrer Tabelle betrachten möchten, können Sie sich auch nur bestimmte Bereiche anzeigen lassen. Hierfür setzen Sie hinter den Dateinamen eckige Klammern und bestimmen den Wertebereich:`[*Zeilenbereich*,*Spaltenbereich*]`.\

*Hinweis: Wenn Sie einen Wertebereich angeben wollen, platzieren Sie zwischen den ersten und letzten Wert einen Doppelpunkt`:` und * **R** *inkludiert alle dazwischenliegenden Werte ("von... bis..."). Ein Komma separiert Bereiche.*\
\
**Allgemeines Beispiel:**

In [ ]:
1:5

Ein Vektor mit Wertebereichen:

In [ ]:
c(1:5, 11:15)

\

**Angewendet auf die vorliegende CSV-Tabelle:**

In [ ]:
show(data_csv_clean[8:20,1:3])

Wie Sie erkennen können, wurden die Umlaute erfolgreich umgeschrieben.

### Tabelle unterteilen\
Damit die Tabelle eine bessere Struktur erlangt, empfiehlt sich eine Separierung in Metadaten und  Tabellendaten.\

In [ ]:
Metadaten <- data_csv_clean[c(1:6, 87:88), 1]
Tabellendaten <- data_csv_clean[8:85, 1:3]

### Spaltenüberschriften setzen
Der Befehl `colnames()`ermöglicht es Ihnen Spaltenüberschriften zu setzen.\

Sie können dies entweder für jede Spalte mit einem einzelnen Befehl durchführen:

In [ ]:
colnames(Tabellendaten)[1] <- "Angestelltenverhaeltnis"

Oder alle Spaltenüberschriften mittels eines Vektors gleichzeitig neu setzen:

In [ ]:
colnames(Tabellendaten) <- c("Angestelltenverhaeltnis", "Geschlecht", "Angestelltenzahl_2020")

#Ergebnis ansehen
head(Tabellendaten)

Damit die Nummerierung der Tabellenzeilen nicht bei der Zahl 8 startet, empfiehlt sich die Nummerierung der Zeilen neu zu setzen. Herzu kann der Befehl `row.names` eingesetzt werden:

In [ ]:
row.names(Tabellendaten) <- 1:78

\
*Alternative:*\
Direkte manuelle Bearbeitung in der Tabelle:

In [ ]:
#edit(Tabellendaten) # edit not implemented in Jupyter R Kernel

**Achtung:** Es empfiehlt sich auf Befehle wie diese zu verzichten, da die Änderungen nicht im **R Skript** oder der **Console** angezeigt und somit **nicht nachvollzogen** werden können! 
\
\

------------------------------------------------------------------------

## 6 Auswertung\

Der folgende Abschnitt thematisiert Auswertungsmöglichkeiten mit Fokus auf Untergruppierungen und Filterfunktionen.\

## Variablenklassen bestimmen\
Damit Sie Ihre Daten adäquat auswerten können, müssen Sie sich über die Struktur und Klasse der Variablen bewusst sein.\

**Die wichtigsten Variablenklassen im Überblick:**\

- `integer`: Ganze Zahlen.\
  Beispiel: 1,2,5.

- `numeric`: Zahl mit Kommastellen.\
  Beispiel: 1.99, 2.33, 5.00.

- `character`: Zeichenketten bzw. Strings.\
  Beispiel: "Hallo", "Apfel", "Hannah". 

- `factor`: Kategoriale Variablen.\
  Beispiel: "schlecht", "gut", "sehr gut"

Die Variablenklasse ist ausschlaggebend dafür, wie Sie die Variablendaten auswerten können. Beispielsweise können Sie mit einer `numeric` -Variable rechnen, mit einer `character` -Variable jedoch nicht. 
\
\
**Variablenklassen bestimmen im Code:**\
Der Befehl `class()`gibt uns die jeweilige Klasse des Objektes wieder:\

In [ ]:
class(Tabellendaten$Angestelltenverhaeltnis) #sollte als character oder factor gelesen werden
class(Tabellendaten$Geschlecht) #sollte als character oder factor gelesen werden
class(Tabellendaten$Angestelltenzahl_2020) #sollte als numerisch oder integer gelesen werden

Die Variablenklassen für "Angestelltenverhältnis" und "Geschlecht" sind passend. Die Variable ""Angestelltenzahl_2020" wird jedoch auch als `character` interpretiert. Dies muss manuell geändert werden, da sonst bestimmte Auswertungen nicht möglich sind und Fehler entstehen können.\

> **Tipp:**\
Im *Environment* Fenster können Sie die Variablenklasse ebenfalls schnell einsehen:\

![Variablenklassen im Environment-Fenster](C:\Users\ant87282\Pictures\Camera Roll\Screenshot_R_Environment_Variablenklassen.png){#id .class width=600 height=px}\
\
\

**Fallbeispiel:**
Betrachten Sie die Funktion `max()`, welche den Maximalwert in der jeweiligen Spalte zurückgeben soll. Hinweis: `na.rm = TRUE` muss hinzugefügt werden, damit die nicht vorhandenen Werte nicht berücksichtigt werden, ansonsten kommt es zu einem Error.\

In [ ]:
max(Tabellendaten$Angestelltenzahl_2020, na.rm = TRUE)

Wenn Sie jedoch einen Blick in die Tabelle werfen, sehen Sie schnell, dass es mehrere Angestelltenzahlen über 100.000 gibt. Die ausgegebene Zahl kann also nicht stimmen!\

**Wie kann es zu solch einem Fehler kommen?**\
Da die Variable "Angestelltenzahl_2020" als `character` interpretiert wird, ändert sich auch die Bedeutung der Funktion `max()`. Die Funkion `max()` gibt nun nicht mehr den Maximalwert zurück, sondern den niedrigsten Platz in alphabetischer Sortierung.\ 
Nur wenn wenn die Werte in der Tabelle auch als Zahlen (also numerisch/integer) von **R** gelesen werden, gibt die Funktion `max()` den Maximalwert der Spalte zurück.\
\
\

### Variablenklasse ändern\

Hierfür überspeichern Sie die Daten der jeweiligen Spalte mit den exakt selben Daten, nur das Sie durch den Befehl `as.integer` die Klasse der Variable ändern. Wenn Sie die Klasse in numerisch ändern wollen würden Sie `as.numeric` usw. verwenden.\

In [ ]:
Tabellendaten$Angestelltenzahl_2020 <- as.integer(Tabellendaten$Angestelltenzahl_2020)

Überprüfen Sie gegebenenfalls erneut die Klasse:

In [ ]:
class(Tabellendaten$Angestelltenzahl_2020)

Wenn Sie nun noch einmal die Beispielfunktion `max()` heranziehen, dann bekommen Sie jetzt durch neuer Klassenzugehörigkeit der Variable den Maximalwert angezeigt:

In [ ]:
max(Tabellendaten$Angestelltenzahl_2020, na.rm = TRUE)

> **Merken:** Überprüfen Sie immer die Art der Variablenklasse, welche **R** Ihren Daten zuweist und ändern Sie dies gegebenenfalls, um Fehler zu vermeiden.

\

### Variablen hinzufügen\

Eine gute **Kategorisierung** Ihrer Daten ist notwendig, um effizient zu filtern. Hierzu müssen Sie die Struktur der Daten nachvollziehen können.\
Um die einzelnen Ausprägung der Variable "Angestelltenverhaeltnis" zu sichten, bietet Ihnen **R** den Befehl `unique()`:

In [ ]:
unique(Tabellendaten$Angestelltenverhaeltnis)

Wie Sie erkennen können, ist die Variable "Angestelltenverhaeltnis" recht unübersichtlich, da sie verschiedene Unterkategorien enthält. Bei Betrachtung der einzelnen Positionen ist jedoch nicht erkennbar, zu welcher Überkategorie die Position gehört.\

**Bei genauerer Betrachtung der Tabelle fällt auf, dass es drei Ebenen gibt:**

1. Ebene: "Wissenschaftliches und künstlerisches Personal" und "Verwaltungs-, technisches und sonstiges Personal"\

2. Ebene: "Hauptberuflich" und "Nebenberuflich"

3. Ebene: Die einzelnen Positionen der Berufsbezeichnungen z.B. "Professoren", "Dozenten und Assistenten", etc.

Für eine übersichtlichere Struktur in der Tabelle, kann für die ersten zwei Ebenen jeweils eine neue Variable erstellt werden. Hierdurch werden zwei neue Spalten zur Tabelle hinzugefügt und Sie können dann bei Betrachtung einer einzelnen Zeile alle wichtigen Informationen herauslesen, was derzeit nicht möglich ist.
\
\
**Neue Variablen erstellen**:\
Da die Struktur es nicht erlaubt, die neuen Variablen durch Referenz auf die bereits vorhandenen Variablen zu erzeugen, müssen die neuen Variablen manuell strukturiert werden.\

Erzeugen Sie hierfür zunächst neue Variablen und setzen Sie den Inhalt erst mal auf unbekannt (NA).

In [ ]:
#1.Ebene: Neue Variable "Personalkategorie"
Tabellendaten$Personalkategorie <- c(NA)

#2.Ebene: Neue Variable "Art der Anstellung"
Tabellendaten$Art_der_Anstellung <- c(NA)

Der Spalteninhalt muss nun manuell eingetragen werden.\
Achtung: Diese Weise ist leider recht fehleranfällig, ist jedoch durch den Aufbau der Datei, ohne komplexere Funktionen zu benutzen, nicht anders möglich.\

> **Merken!:** Wenn Sie Daten generieren, strukturieren Sie diese immer gut. Dies erleichtert Ihnen selbst, aber auch allen anderen, die Ihre Daten verwenden, dass Arbeiten!\

\
**Einpflegen des Variableninhalts**

In [ ]:
#1.Ebene
Tabellendaten$Personalkategorie[76:78] <- "Insgesamt"
Tabellendaten$Personalkategorie[1:30] <- "Wissenschaftliches und künstlerisches Personal"
Tabellendaten$Personalkategorie[31:75] <- "Verwaltungs-, technisches und sonstiges Personal"

In [ ]:
#2.Ebene
Tabellendaten$Art_der_Anstellung[c(1:3, 31:33, 76:78)] <- "Insgesamt"
Tabellendaten$Art_der_Anstellung[c(4:18,34:66)] <- "Hauptberuflich"
Tabellendaten$Art_der_Anstellung[c(19:30,67:75)] <- "Nebenberuflich"

Ergebnis ansehen:

In [ ]:
show(Tabellendaten)

\

### Unterkategorisieren\

Eine Unterkategorisierung (auch Sub-Sampling gennant) bietet sich auch insbesondere für die Variable "Geschlecht" an.

In [ ]:
unique(Tabellendaten$Geschlecht)

Durch das Aufführen der Variablenausprägung `"Insgesamt"` wird die Tabelle recht unübersichtlich. Es empfiehlt sich das sub-samplen der Tabelle nach den verschiedenen Geschlechtsausprägungen:

In [ ]:
#Geschlecht
Tabelle_maennlich <- subset(Tabellendaten, Geschlecht == "maennlich")
Tabelle_weiblich <- subset(Tabellendaten, Geschlecht == "weiblich")
Tabelle_Insgesamt <- subset(Tabellendaten, Geschlecht == "Insgesamt")

#Ergbnis ansehen 
head(Tabelle_Insgesamt)

\
Wenn Sie nun z.B. aus der Tabelle_Insgesamt die zweite Spalte entfernen möchten, da diese redundant ist, können Sie die Spalte aus dem Subsample entfernen:

In [ ]:
Tabelle_Insgesamt <- subset(Tabelle_Insgesamt, select= c(-Geschlecht))

#Ergebnis ansehen
head(Tabelle_Insgesamt)

\

### Tabellendaten filtern\

Alternativ zum `subset`-Befehl kann mit dem Befehl `filter` gearbeitet werden.\
Sie können Ihre Tabelle mittels der `filter`-Funktion filtern und so nach belieben die Tabelle nur gezielte Inhalte anzeigen lassen.\
\
Hierzu können Sie verschiedene Operatoren und Funktionen nutzen:\
\
**Mathematische Operatoren:**

- `==` (Ist gleich) 
- `!=` (Ist nicht gleich)
- `<` (Kleiner als)
- `<=` (Kleiner-Gleich)
- `>` (Größer als)
- `>=` (größer-Gleich)

Beispiel:

In [ ]:
filter(Tabelle_Insgesamt, Tabelle_Insgesamt$Angestelltenzahl_2020 <= 5000)

\
**Logische Operatoren:**

- `!` (logisches NICHT)
- `&` (logisches UND)
- `|` (logisches ODER)

Beispiel:

In [ ]:
filter(Tabellendaten, Tabellendaten$Personalkategorie == "Wissenschaftliches und künstlerisches Personal" & Tabellendaten$Geschlecht == "weiblich" )

\
**Verwenden von Funktionen:**

Beispiel:
Ausgabe des kleinsten Wertes mittels er `min()` -Funktion

In [ ]:
filter(Tabellendaten, Tabellendaten$Angestelltenzahl_2020 == min(Tabellendaten$Angestelltenzahl_2020, na.rm = TRUE))

\

### Sortieren von Tabellendaten\

Sie können Tabellen mittels des `order()`-Befehls nach belieben sortieren.\

Beispiel:

In [ ]:
Tabelle_Insgesamt_Sortiert <- Tabelle_Insgesamt[order(Tabelle_Insgesamt$Angestelltenzahl_2020, decreasing = TRUE),]

#Ergebnis ansehen
head(Tabelle_Insgesamt_Sortiert)